<!DOCTYPE html>
<html ng-app="mainApp">

<head>
  <title>Venues</title>
  <meta charset="utf-8">
</head>

<body>
  <div ng-view></div>
  
  <script src="/jquery-3.1.1.js"></script>
  <script src="angular.js"></script>
  <script src="angular-route.js"></script>
  <script src="app.module.js"></script>
  <script src="app.routes.js"></script>
  <script src="venue/venue.controller.js"></script>
  <script src="event/event.controller.js"></script>
  <script src="user/user.controller.js"></script>
</body>

</html>