<!DOCTYPE html>
<html ng-app="mainApp">

<head>
  <title>Event Reservation System</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/semantic.css">
  <link rel='stylesheet prefetch' href='semantic/components/icon.min.css'>
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
</head>

<body>
  
  <!-- Sidebar -->
  <div class="ui grid">
      <div class="three wide column">
        <div class="ui left wide sidebar visible inverted vertical menu">
          <h2 class="image header">
            <img class="ui centered small circular image" src="pictures/patrick.png">
          </h2>
          <a class="item" href="/#/">
            Home
          </a>
          <a class="item" href="/#/events">
            Events
          </a>
          <a class="item" href="/#/venues">
            Venues
          </a>
          <a class="item" href="/#/users">
            Users
          </a>
          <a class="item" href="/#/requests">
            Requests
          </a>
          <a class="item" href="/#/reports">
            Generate Reports
          </a>
          <a class="item" ng-controller = "loginController as logOut" ng-click="logOut.logOut()">
            Logout
          </a>
        
        </div>
      </div>

    <div class="twelve wide column centered">
      <!-- Site content !-->
      <div ng-view></div>
    </div>
  </div>
  
  <script src="/jquery-3.1.1.js"></script>
  <script src="semantic/semantic.js"></script>
  <script src="semantic/semantic.min.js"></script>
  <script src="angular.js"></script>
  <script src="angular-route.js"></script>
  <script src="app.module.js"></script>
  <script src="app.routes.js"></script>
  <script src="venue/venue.controller.js"></script>
  <script src="event/event.controller.js"></script>
  <script src="user/user.controller.js"></script>
  <script src="profile/profile.controller.js"></script>
  <script src="request/request.controller.js"></script>
  <script src="report/report.controller.js"></script>
  <script src="login.controller.js"></script>
</body>

</html>