<div class="row">
    <div class="column">
      <h1 class="ui centered header">Venues</h1>
    </div>
</div>

<button ng-click="venue.switchacct()">Switch</button>
  <div class="item">
    <button class="ui button" ng-click="venue.openModal()">Add Venue</div>
  </div>
  <form class="item" ng-submit="venue.searchVenue()">
    <div class="ui action input">
      <input type="text" placeholder="Search..." ng-model="venue.searchFilter">
      <select class="ui compact selection dropdown" ng-model="venue.searchCategory">
        <option value="venuename">Venue Name</option>
        <option value="venuecapacity">Capacity</option>
        <option value="venuedetails">Description</option>
      </select>
      <div type="submit" class="ui button" ng-click="venue.searchVenue()">Search</div>
    </div>

  </form>


<table class="ui table celled selectable">
  <thead>
    <tr>
      <th >Name</th>
      <th>Capacity</th>
      <th>Details</th>
      <th colspan="3" ng-if="venue.accounttype === 'admin'">Actions</th>
      <th ng-if="venue.accounttype === 'normal_user'">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in venue.venues">
      <td>{{x.venuename}}</td>
      <td style="text-align: right;">{{x.venuecapacity}}</td>
      <td>{{x.venuedetails}}</td>
      <td>
        <button class="ui green button">Reserve</button>
      </td>
      <td ng-if="venue.accounttype === 'admin'">
        <button class="ui blue button" ng-click="venue.editVenue(x.venueid)">Edit</button>
      </td>
      <td ng-if="venue.accounttype === 'admin'">
        <button class="ui red button" ng-click="venue.deleteVenue(x.venueid)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="ui modal" id="addVenue-modal">
    <div class="header">Add Venue</div>
    <div class="content">        
      <form>
        <label for="name-input">Venue Name</label>
        <input type="text" ng-model="venue.newVenue.venuename">
        <label for="capacity-input">Capacity</label>
        <input type="number" ng-model="venue.newVenue.venuecapacity">
        <label for="details-input">Details</label>
        <input type="text" ng-model="venue.newVenue.venuedetails">
        <input type="submit" ng-click = "venue.addVenue()"></input>
      </form>
    </div>
</div>

