<div class="row">
    <div class="column">
      <h1 class="ui centered header">Venues</h1>
    </div>
</div>

<button ng-click="venue.switchacct()">Switch</button>
  <div class="item">
    <button class="ui button" ng-click="venue.openModal('addVenue-modal')">Add Venue</div>
  </div>
  <form class="item" ng-submit="venue.searchVenue()">
    <div class="ui action input">
      <input type="text" placeholder="Search..." ng-model="venue.searchFilter">
      <select class="ui compact selection dropdown" ng-model="venue.searchCategory">
        <option value="venuename">Venue Name</option>
        <option value="venuecapacity">Capacity</option>
        <option value="venuedetails">Description</option>
      </select>
      <div type="submit" class="ui button" ng-click="venue.searchVenue()">Search</div>
    </div>

  </form>

<table class="ui table celled selectable">
  <thead>
    <tr>
      <th >Name</th>
      <th>Capacity</th>
      <th>Details</th>
      <th colspan="3" ng-if="venue.accounttype === 'admin'">Actions</th>
      <th ng-if="venue.accounttype === 'normal_user'">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in venue.venues">
      
      <!--NORMAL ROWS-->
      <td ng-if="venue.edittableVenue.venueid !== x.venueid">
        {{x.venuename}}
      </td>
      <td ng-if="venue.edittableVenue.venueid !== x.venueid" style="text-align: right;">
        {{x.venuecapacity}}
      </td>
      <td ng-if="venue.edittableVenue.venueid !== x.venueid">
        {{x.venuedetails}}
      </td>

      <!--BEING EDITED-->
      <td ng-if="venue.edittableVenue.venueid == x.venueid">
        <input type="text" ng-model="venue.edittableVenue.venuename">
      </td>
      <td ng-if="venue.edittableVenue.venueid == x.venueid" style="text-align: right;">
        <input type="number" min="1" ng-model="venue.edittableVenue.venuecapacity">
      </td>
      <td ng-if="venue.edittableVenue.venueid == x.venueid">
        <input type="text" ng-model="venue.edittableVenue.venuedetails">
      </td>



      <td>
        <button class="ui green button"
                ng-class="{disabled : venue.editing && venue.edittableVenue.venueid != x.venueid}"
                ng-click="venue.reserveVenue(x)">
                Reserve
        </button>
      </td>
      <td ng-if="venue.accounttype === 'admin'">
        <button class="ui blue button" 
                ng-click="venue.editVenue(x)"
                ng-if="venue.edittableVenue.venueid != x.venueid"
                ng-class="{disabled : venue.editing}">
                Edit
        </button>
        <button class="ui blue button"
                ng-click="venue.editVenueConfirm()"
                ng-if="venue.edittableVenue.venueid == x.venueid">
                Save
        </button>
      </td>
      <td ng-if="venue.accounttype === 'admin'">
        <button class="ui red button" 
                ng-click="venue.deleteVenue(x.venueid)"
                ng-if="venue.edittableVenue.venueid != x.venueid"
                ng-class="{disabled : venue.editing}">
                Delete
        </button>
        <button class="ui red button"
                ng-click="venue.editVenueCancel()"
                ng-if="venue.edittableVenue.venueid == x.venueid">
                Cancel
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="ui modal" id="addVenue-modal">
    <div class="header">Add Venue</div>
    <div class="content">        
      <form>
        <label for="name-input">Venue Name</label>
        <input type="text" ng-model="venue.newVenue.venuename">
        <label for="capacity-input">Capacity</label>
        <input type="number" ng-model="venue.newVenue.venuecapacity">
        <label for="details-input">Details</label>
        <input type="text" ng-model="venue.newVenue.venuedetails">
        <input type="submit" ng-click = "venue.addVenue()"></input>
      </form>
    </div>
</div>


<div class="ui modal" id="reserveVenue-modal">
  <div class="header">Add Event</div>
    <div class="content">        
      <table class="ui table celled">
        <thead>
          <tr>
            <th colspan="2">Event</th>
          </tr>
        </thead>
        <tbody class="ui form">
          <tr>
            <td style="font-weight: bold;">Name</td>
            <td class="field">
              <input type="text"  ng-model="venue.newEvent.eventname">
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Details</td>
            <td class="field">
              <input type="text"  ng-model="venue.newEvent.eventdetails">
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Date</td>
            <td class="field">
              <input type="date"  ng-model="venue.newEvent.eventdate">
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Type</td>
            <td class="field">
              <input type="text"  ng-model="venue.newEvent.eventtype">
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Advertised</td>
            <td class="inline fields">
              <div class="field ui radio checkbox">
                <input type="radio" value="true" ng-model="venue.newEvent.eventadvertised">
                <label>Yes</label>
              </div>
              <div class="field ui radio checkbox">
                <input type="radio" value="false" ng-model="venue.newEvent.eventadvertised">
                <label>No</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="actions">
      <div class="ui button green inverted" ng-click="venue.reserveVenueConfirm()">Add</div>
      <div class="ui button red inverted" ng-click="venue.reserveVenueCancel()">Cancel</div>
    </div>
</div>