<div class="ui padded segment">
    <div class="ui column">
      <h1 class="ui header">{{profile.currentUser.firstname}} {{profile.currentUser.lastname}}</h1>
    </div>
</div>

<table class="ui fixed inverted table">
  <thead>
    <tr>
    	<th colspan="2">It's All About Me!</th>
  	</tr>
  </thead>
  <tbody>
    <tr>
      <td>Username</td>
      <td>{{profile.currentUser.username}}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>{{profile.currentUser.email}}</td>
    </tr>
    <tr>
      <td>Contact Number</td>
      <td>{{profile.currentUser.contactno}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{profile.currentUser.address}}</td>
    </tr>
  </tbody>
</table>


<h3 class="ui header">Your Events</h3>
<div class="ui four column stackable grid">
<div class="column" ng-repeat="x in profile.userEvents">
	<div class="ui fluid card">
	  <div class="content">
	    <div class="header">{{x.eventname}}</div>
	    <div class="meta">{{x.eventdate}}</div>
	    <div class="description">
	      <p>{{x.eventdetails}}</p>	       
         <p><i class="check icon"></i>Status: {{x.status}}</p>
      </div>
    </div>
    <div class="extra content">
      <button class = "ui red button" ng-click="profile.cancelEvent(x)">Cancel</button>
	    <button class="ui teal button" ng-click="profile.editEvent(x)">Edit</button>
	  </div>
	</div>
</div>
</div>

<div class="ui modal" id="editEvent-modal">
  <div class="header">Edit Event</div>
    <div class="content">        
      <table class="ui table celled">
        <thead>
          <tr>
            <th colspan="2">Event</th>
          </tr>
        </thead>
        <tbody class="ui form">
          <tr>
            <td style="font-weight: bold;">Name</td>
            <td class="field">
              <input type="text"  ng-model="profile.eventToBeEdited.eventname">
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Details</td>
            <td class="field">
              <input type="text"  ng-model="profile.eventToBeEdited.eventdetails">
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Date</td>
            <td class="field">
              <input type="date"  ng-model="profile.eventToBeEdited.eventdate">
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Type</td>
            <td class="field">
              <input type="text"  ng-model="profile.eventToBeEdited.eventtype">
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Advertised</td>
            <td class="inline fields">
              <div class="field ui radio checkbox">
                <input type="radio" value="true" ng-model="profile.eventToBeEdited.eventadvertised">
                <label>Yes</label>
              </div>
              <div class="field ui radio checkbox">
                <input type="radio" value="false" ng-model="profile.eventToBeEdited.eventadvertised">
                <label>No</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="actions">
      <div class="ui button green inverted" ng-click="profile.confirmEditEvent()">Add</div>
      <div class="ui button red inverted" ng-click="profile.editEventCancel()">Cancel</div>
    </div>
</div>