<div class="row">
    <div class="column">
      <h1 class="ui centered header">Users</h1>
    </div>
</div>

<div class="ui menu">
  <div class="item">
    <div class="ui action input">
      <input type="text" placeholder="Search...">
      <select class="ui compact selection dropdown">
        <option value="username">Username</option>
        <option value="name">Name</option>
        <option value="contactno">Contact Number</option>
        <option value="email">E-mail</option>
        <option value="address">Address</option>
        <option value="dateadded">Date Added</option>
      </select>
      <div type="submit" class="ui button">Search</div>
    </div>
  </div>
</div>

<div class="ui link cards">
	<div class="card" ng-repeat="x in user.user">
		<div class="image">
			<img src="pictures/patrick.png">
		</div>
		<div class="content">
			<div class="header">{{x.username}}</div>
			<div class="meta">{{x.lastname}}, {{x.firstname}}</div>
			<div class="description">
				<p>Account Type: {{x.accounttype}}</p>
		       <p>Contact Number: {{x.contactno}}</p>
		       <p>E-mail: {{x.email}}</p>
		       <p>Address: {{x.address}}</p>
				<p>Date Added: {{x.dateadded}} </p>
		    </div>
		</div>
		<div class="extra content">
			<span class="right floated">
				<button class="ui red button" ng-click="user.deleteUser(x.accountid)">Delete</button>
				<button class="ui teal button" ng-click="user.editUser(x)">Edit</button>
			</span>
		</div>
	</div>
</div>

<div class="ui modal" id="editUser-modal">
    <div class="header">Edit User</div>
    <div class="content">        
      <form>
        <div class="ui form">
			  <div class="fields">
			    
			    <div class="field">
			      <label>Username</label>
			      <input type="text" placeholder="Username" ng-model="user.userToBeEdited.username">
			    </div>
			    
			    <div class="field">
			      <label>Password</label>
			      <input type="password" placeholder="Password" ng-model="user.userToBeEdited.password">
			    </div>
			  </div>

			  <div class="equal width fields">
			    <div class="field">
			      <label>First name</label>
			      <input type="text" placeholder="First Name" ng-model="user.userToBeEdited.firstname">
			    </div>
			    <div class="field">
			      <label>Middle name</label>
			      <input type="text" placeholder="Middle Name" ng-model="user.userToBeEdited.middlename">
			    </div>
			    <div class="field">
			      <label>Last name</label>
			      <input type="text" placeholder="Last Name" ng-model="user.userToBeEdited.lastname">
			    </div>  
			  </div>

			  <div class="ui equal width form">
			  <div class="fields">
			    <div class="field">
				    <label>E-mail</label>
				    <input type="email" placeholder="sample@sample.com" ng-model="user.userToBeEdited.email">
			    </div>
			    <div class="field">
			      <label>Contact Number</label>
			      <input type="text" placeholder="XXXXXXXXXXX" ng-model="user.userToBeEdited.contactno">
			    </div>
			  </div>
			  <div class="fluid field">
			      <label>Address</label>
			      <input type="text" placeholder="Address" ng-model="user.userToBeEdited.address">
			   </div>
			   <div class="field">
			    <div class="ui checked checkbox">
			      <input type="checkbox" ng-model="user.userToBeEdited.accounttype">
			      <label>Admin</label>
			    </div>
			  </div>
			  </div>
		</div>
      </form>
	</div>
			<div class="actions">
				<span class="right floated">
		        <div class="ui close button" ng-click="user.closeModal('#editUser-modal')">Cancel</div>
		        <div class="ui button" type="submit" ng-click="user.confirmEditUser()">Confirm</div>
		        </span>
    		</div>
    </div>